html {
  min-height: 100%;
  position: relative;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0 0 200px 0; }

header {
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 0px 3px #518bcc; }

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  background: #518bcc;
  padding: 30px; }

